<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <form method='post' action='/'>
    <input name='zipcode' value="<%= locals.config.zipcode %>"/>
    <input name='miles' value="<%= locals.config.miles %>"/>
    <input type='submit'/>
  </form>
</body>
</html>
